@import "tailwindcss";
 
@keyframes shine-move {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary:#ff2e2e;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}
.shine-wrapper {
  position: relative;
  overflow: hidden;
}

.shine-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  transform: skewX(-20deg);
  animation: shine-move 2s infinite;
}
 
